In [55]:
import pandas as pd
import seaborn as sns

In [63]:
df = pd.read_csv('../data/csgo_round_snapshots.csv')
df.head

<bound method NDFrame.head of         time_left  ct_score  t_score       map  bomb_planted  ct_health  \
0          175.00       0.0      0.0  de_dust2         False      500.0
1          156.03       0.0      0.0  de_dust2         False      500.0
2           96.03       0.0      0.0  de_dust2         False      391.0
3           76.03       0.0      0.0  de_dust2         False      391.0
4          174.97       1.0      0.0  de_dust2         False      500.0
...           ...       ...      ...       ...           ...        ...
122405      15.41      11.0     14.0  de_train          True      200.0
122406     174.93      11.0     15.0  de_train         False      500.0
122407     114.93      11.0     15.0  de_train         False      500.0
122408      94.93      11.0     15.0  de_train         False      500.0
122409      74.93      11.0     15.0  de_train         False      375.0

        t_health  ct_armor  t_armor  ct_money  ...  t_grenade_flashbang  \
0          500.0       0.0      0.0    4000.0  ...                  0.0
1          500.0     400.0    300.0     600.0  ...                  0.0
2          400.0     294.0    200.0     750.0  ...                  0.0
3          400.0     294.0    200.0     750.0  ...                  0.0
4          500.0     192.0      0.0   18350.0  ...                  0.0
...          ...       ...      ...       ...  ...                  ...
122405     242.0     195.0    359.0     100.0  ...                  2.0
122406     500.0      95.0    175.0   11500.0  ...                  2.0
122407     500.0     495.0    475.0    1200.0  ...                  4.0
122408     500.0     495.0    475.0    1200.0  ...                  5.0
122409     479.0     395.0    466.0    1100.0  ...                  3.0

        ct_grenade_smokegrenade  t_grenade_smokegrenade  \
0                           0.0                     0.0
1                           0.0                     2.0
2                           0.0                     2.0
3                           0.0                     0.0
4                           0.0                     0.0
...                         ...                     ...
122405                      1.0                     1.0
122406                      1.0                     0.0
122407                      3.0                     5.0
122408                      0.0                     3.0
122409                      0.0                     2.0

        ct_grenade_incendiarygrenade  t_grenade_incendiarygrenade  \
0                                0.0                          0.0
1                                0.0                          0.0
2                                0.0                          0.0
3                                0.0                          0.0
4                                0.0                          0.0
...                              ...                          ...
122405                           0.0                          0.0
122406                           0.0                          0.0
122407                           1.0                          0.0
122408                           0.0                          0.0
122409                           0.0                          0.0

        ct_grenade_molotovgrenade  t_grenade_molotovgrenade  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             0.0                       0.0
4                             0.0                       0.0
...                           ...                       ...
122405                        0.0                       0.0
122406                        0.0                       0.0
122407                        0.0                       5.0
122408                        0.0                       4.0
122409                        0.0                       3.0

        ct_grenade_decoygrenade  t_grenade_decoygrenade  round_winner
0                           0.0                     0.0            CT
1                           0.0                     0.0            CT
2                           0.0                     0.0            CT
3                           0.0                     0.0            CT
4                           0.0                     0.0            CT
...                         ...                     ...           ...
122405                      0.0                     0.0             T
122406                      0.0                     0.0             T
122407                      0.0                     0.0             T
122408                      0.0                     0.0             T
122409                      0.0                     0.0             T

[122410 rows x 97 columns]>

In [66]:
df.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
count,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,...,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000,122404.000000
mean,97.886435,6.709356,6.780620,412.103681,402.710344,314.136115,298.439708,9789.067351,11241.199634,2.053879,...,1.853142,1.858044,1.540816,1.627104,1.001953,0.019820,0.048013,1.352023,0.027695,0.025751
std,54.465950,4.790441,4.823582,132.295643,139.921148,171.030955,174.574824,11215.279259,12162.955683,1.841500,...,1.772794,1.794463,1.737829,1.829130,1.458091,0.143937,0.227674,1.663218,0.169535,0.164166
min,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.920000,3.000000,3.000000,350.000000,322.000000,194.000000,174.000000,1300.000000,1550.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,94.910000,6.000000,6.000000,500.000000,500.000000,377.000000,334.000000,5500.000000,7150.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,166.920000,10.000000,10.000000,500.000000,500.000000,486.000000,468.000000,14600.000000,18000.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000
max,175.000000,32.000000,33.000000,500.000000,600.000000,500.000000,500.000000,80000.000000,80000.000000,5.000000,...,7.000000,7.000000,6.000000,9.000000,5.000000,3.000000,3.000000,5.000000,3.000000,2.000000